@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

:root {
  --primary: "Palette Mosaic", cursive;
  --secondary: "Luckiest Guy", cursive;
  --tertiary: "Press Start 2P", cursive;
  --quarternary: "Sigmar One", cursive;
}

body {
  margin: 0px;
}

.navi {
  font-family: var(--secondary);
  background-color: #fcd34d;
  color: #111827;
  padding: 0.4rem;
}

.navi h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

main {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
}

button {
  background-color: #fcd34d;
  border: none;
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  font-size: large;
}

#translate-output {
  box-sizing: border-box;
  width: 100%;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  border: 1px solid #111827;
}

.footer {
  background-color: #fcd34d;
  color: #111827;
  align-content: center;
  padding: 1rem;
  bottom: 0%;
  position: fixed;
  width: 100%;
}

.social-container {
  margin-top: 0rem;
  flex-direction: column;
  align-content: center;
}

.social-icons {
  padding: 0rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
